.flat-button {
  background-color: $white;
  border-bottom: 1px solid $violet;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 8px;

  font-family: 'Lato', sans-serif;
  color: $violet;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: 1rem;
  line-height: 1.5;

  &.flat-button-small {
    font-size: 0.7rem;
    line-height: 1;
    color: inherit;
  }

  &:hover{
    color: $violet;
    border: 1px solid $violet;
    cursor: pointer;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
  }

  &.flat-button-primary {
    color: $white;
    background-color: $violet;
    &:hover {
      background-color: $white;
      color: $violet;
      border-top: 1px solid $violet;
      border-bottom: 1px solid $violet;
      padding: 7px;
    }
  }
}

.flat-form-button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .flat-button {
    margin: 0 1rem;
    &:first-child {
      margin: 0 8px 0 0;
    }
    &:last-child {
      margin: 0 0 0 8px;
    }
  }
}
