body {
  color: $violet;
}

p {
  color: $violet;
}

.flat-title{
  font-family: 'Lato', sans-serif;
  color: $violet;
  text-transform: uppercase;
  letter-spacing: .1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

h1.flat-title {
  font-size: 1.9rem;
}

h2.flat-title {
  font-size: 1.7rem;
}

h3.flat-title {
  font-size: 1.2rem;
}
