.flat-form {

  border-left: 1px solid $violet;
  border-right: 1px solid $violet;
  padding: 0 16px;

  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  .flat-form-footer {
    margin: 0 -17px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 32px 16px 0 16px ;
  }

  .field {
    margin-bottom: 32px;
  }

  .input {
    border: none;
    border-bottom: 1px groove $violet;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: $violet;

    &::placeholder {
      color: rgba($violet, 0.7);
    }

    &:focus{
      border-bottom: 1px solid $violet;
    }
  }

  .label {
    font-family: 'Lato', sans-serif;
    color: $violet;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .is-success {
    color: $violet;
  }

  .select{
    height: 100%;
    display: block;

    &::after {
      border: none !important;
    }
  }
}
